.principal-contenedor {
  display: flex;
  margin: 0px 5%;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.foto-perfil {
  width: 85%;
}

.foto-perfil__img {
  border-radius: 50%;
}
