.search-contenedor {
  display: flex;
  margin: 20px 5%;
  padding: 8px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.input__sin-border {
  border: 0;
}

.input__sin-border:focus {
  outline: none;
}

.search-contenedor__input-desktop {
  display: none;
}
