.title-contenedor-dark, .title-contenedor-light {
  display: flex;
  align-items: center;
  margin: 0px 5%;
  padding: 30px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.title-contenedor-dark__texto, .title-contenedor-light__texto {
  font-size: 26px;
}

.title-contenedor-dark__tema, .title-contenedor-light__tema{
  cursor: pointer;
}

.title-contenedor-light {
  color: #FFF;
}

@media screen and (min-width: 576px){
  .title-contenedor-light, .title-contenedor-dark {
    margin: 0px 15%;
  }
}


@media screen and (min-width: 768px){
  .title-contenedor-light, .title-contenedor-dark {
    margin: 0px 15%;
  }
}

@media screen and (min-width: 992px){
  .title-contenedor-light, .title-contenedor-dark {
    margin: 0px 22%;
  }
}