.title-contenedor-dark, .title-contenedor-light {
  display: flex;
  margin: 0px 5%;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

.title-contenedor-dark__texto, .title-contenedor-light__texto {
  font-size: 26px;
}

.title-contenedor-light {
  color: #FFF;
}
